<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>

    <main>
        <form action="/reset" method="post">
            <button class="btn" type="submit" onclick="console.log('Btn clck')">Send mail</button>
        </form>
    </main>